<ion-view view-title="MAMI" cache-view="false">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>

    <ion-content  style="background-color:#fff9f1">


	
  			<div class="tabsDiv">
            	<div ng-class="{'tabsActive33': ActiveTab == 0 , 'tabsNotActive33': ActiveTab != 0 }" ng-click="setActiveTab(0)">
                	יום
                </div>
                <div  ng-class="{'tabsActive33': ActiveTab == 1 , 'tabsNotActive33': ActiveTab !=  1 }"  ng-click="setActiveTab(1)">
                	שבוע
                </div>
                <div  ng-class="{'tabsActive33': ActiveTab == 2 , 'tabsNotActive33': ActiveTab != 2 }"  ng-click="setActiveTab(2)">
                	חיפוש
                </div>
            </div>

		<div ng-if="ActiveTab == 2">
		 <label class="item item-input item-select itemSelected" style="margin-top:8px;">
			<div class="input-label" style="color:#fff;">
			  תאריך התחלה
			</div>
			<input type="text" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="תאריך התחלה" class="ion-input-select--large itemSelectedBox" ng-model="search.start">
		 </label>
		 <label class="item item-input item-select itemSelected" style="margin-top:8px;">
			<div class="input-label" style="color:#fff;">
			  תאריך סיום
			</div>
			<input type="text" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="תאריך סיום" class="ion-input-select--large itemSelectedBox" ng-model="search.end">
		 </label>	
			<div style="margin-top:20px;" ng-click="searchDate()">
                      	<img src="img/{{'sendbuttonimage' | translate}}"  style="width:100%;" />
			</div>
		</div>

		
		<div ng-if="AppoinmentCount ==  0" align="center">
			<p>לא נמצאו תורים</p>
		</div>



	<!--
		<div>
        	<img  src="img/line.png" style="width:100%; margin-top:-3px;" />
        </div>
	-->
        
		
		
		
		<!--
		<div ng-if="oldAppoinment ==  0 && ActiveTab == 1" align="center">
			<p>לא נמצאו תורים ישנים</p>
		</div>
		
		<div ng-if="newAppoinment ==  0 && ActiveTab == 0" align="center">
			<p>לא נמצאו תורים חדשים</p>
		</div>	
		-->
		
		<!-- 
		 | filter:searchByDate
		 ng-show="item.future == ActiveTab"
		 track by $index
		 -->
        <div class="ListRow" ng-repeat="item in Appointments " >
            <div >
			
			<div class="ListRight">
				<img  ng-src="{{host}}/{{item.supplier[0].image}}" style="width:100%; margin-top:-3px;"  />
            </div>
			

			
            <div class="ListCenter" style="width:70%" >
            	<h3>{{item.supplier[0].name}}</h3>
                <h4>כתובת : {{item.supplier[0].address}}</h4>
                <h4>טלפון : {{item.supplier[0].phone}}</h4>
                <h4>אזור : {{getAreaName(item.supplier[0].area)}}</h4>
				<h4>תאריך : {{item.appoinement[0].start_date}}</h4>
				<h4>שעה : {{item.appoinement[0].start_time}}</h4>
                <!--<div ng-if="item.rating">
				<div style="float:right; margin-top:5px;">
                	דירוג : {{item.rating}} 
				</div>
                	<table style="float:right; margin-right:14px; margin-top:5px;">	
                    	<tr style="">
                        	<td  ng-repeat="n in [] | range:item.rating">
                            	<img  src="img/s1.png" style="width:30px; margin-top:-3px; margin-left:3px;" />
                            </td>
							<td ng-if="getFloat(item.rating)">
							<img  src="img/s3.png" style="width:100%; margin-top:-3px;" />
							</td>
                        </tr>
                    </table>
                </div>-->
                <div class="DelEditAppointment">
                	<div class="delApp" ng-click="deleteAppoint($index,item.index,item.app_id)">
                    	<img src="img/{{'delimage' | translate}}" style="width:100%; margin-top:20px;" />
                    </div>
                    <div class="editApp" ng-click="changeDate($index,item.index,item.supplier_id,item.supplier[0].name,item.supplier[0].image,item.app_id)">
                    	<img src="img/edit.png" style="width:100%; margin-top:20px;" />
                    </div>
                </div>
            </div>

						
            <!-- <div class="ListLeft" >
				<a class="button button-icon icon ion-trash-b" ng-click="deleteAppoint($index,item.index)"></a>
				<a class="button button-icon icon ion-edit" ng-click="changeDate($index,item.index,item.supplier_id,item.supplier[0].name,item.supplier[0].image)"></a>
            </div>-->
    	</div>
        <div>
        	<img  src="img/line.png" style="width:100%; margin-top:-3px;" />
        </div>
		
		</div>
        </div>

    </ion-content>
</ion-view>
