<ion-view view-title="MAMI" cache-view="false">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    
   
    <ion-content class="content" style="background-color:white">

        <div class="mainPageVideo" id="videoWrapper" align="center">
        	
            <!--
            <iframe id="VideoPlayer" width="100%" height="315" src="{{MainVideo}}" frameborder="0" allowfullscreen></iframe>
            -->
			
			<video controls poster="img/supplier_video.png" width="100%" height="100%">
			<source id="VideoPlayer" src='http://tapper.co.il/mami_app/supplier_main.mp4' type='video/mp4'>
			</video>

		
			<div  style="background-color:#f1f1f1; padding-bottom:40px;">
                <div ng-repeat="item in Questions" class="employeQuestion">
                    <div align="center">
                         <h3>{{item.question | stripslashes:true}} </h3>
                         <p>{{item.answer | stripslashes:true}} </p>
                    </div>
                </div>
            </div>
            

          <div class="searchInput" align="center" >
                 <div class="searchInputDiv" style="margin-bottom:30px;">
    
                        <div style="direction:rtl;">
    
                             <div class="qDiv">
                                 <label class="item item-input  itemSelectedQ" >
                                    <input type="text"   placeholder="{{'supplier_fullname' | translate}}" class="ion-input-select--large itemSelectedBoxQ" ng-model="supplier.name">
                                 </label>
                                 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                             </div>
                             <div class="qDiv">
                                 <label class="item item-input  itemSelectedQ" >
                                    <input type="tel"   placeholder="{{'supplier_phone' | translate}}" class="ion-input-select--large itemSelectedBoxQ" ng-model="supplier.phone">
                                 </label>
                                 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                             </div>
                             <div class="qDiv">
                                 <label class="item item-input  itemSelectedQ" >
                                    <input type="email"   placeholder="{{'supplier_email' | translate}}" class="ion-input-select--large itemSelectedBoxQ" ng-model="supplier.mail">
                                 </label>
                                 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                             </div>
                             <div class="qDiv">
                                 <label class="item item-input itemSelectedQ">
                                    <input type="text"   placeholder="{{'supplier_desc' | translate}}" class="ion-input-select--large itemSelectedBoxQ" ng-model="supplier.desc">
                                 </label>	
                                 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                             </div>
                            					 
                        </div>
                        
                        
                        <div style="margin-top:10px; margin-bottom:30px;" ng-click="sendLead()">
                            <img src="img/{{'sendbuttonimage' | translate}}"  style="width:100%;" />
                        </div>	
                        
                        
                 </div>
          </div>		
		</div>



	
  </ion-content>
</ion-view>
