/* CSS Document */

/* List Page*/



.mainSearchBoxLeftLtr
{
	width:8.5%;
	float:right;
}

.mainSearchBoxRightLtr div
{
	width:100%;
	margin-top:20px;
}

.mainSearchBoxLeftLtr div
{
	width:100%;
	margin-top:20px;
}

.mainSearchBoxRightLtr
{
	float:left;
	text-align:left;
	width:91.5%;
}

.mainSearchBoxRightLtr div input
{
	text-align:left;
	padding-left:10px;
	padding-top:-23px;
}

.itemSelectedBoxLtr
{
	color:white !important; 
	background-color:#ef2275 !important;
	text-align:left !important;
	left:0px;
}

.itemSelectedBoxQLtr
{
	color:#333 !important; 
	background-color:#f1f1f1 !important;
	border:none;
	text-align:left !important;
	left:0px;
}

/* List Page*/

.ListRightLtr
{
	width:27%;
	padding:10px;
	float:left;
}


.ListLeftLtr
{
	width:10%;
	padding-left:20px;
	margin-right:10px;
	float:right;
	margin-top:30px;
}


.ListCenterLtr
{
	width:55%;
	text-align:left;
	direction:ltr;
	padding:5px;
	float:left;
}


.RaitingLtr
{
	float:left;
	margin-top:35px;
}

.RaitingIconLtr
{
	float:left; 
	margin-left:14px; 
	margin-top:5px;
}

.SearchTableLtr
{
	direction:ltr;
	padding:5px;
	text-align:center;
	font-size:16px;
}

.SearchTableLtr td
{
	padding:10px;
	padding-top:7px;
}


/* Details Page */

.mainInfoLtr
{
	text-align:left;
	direction:ltr;
	padding:10px;
	padding-left:20px;
	overflow:hidden;
}

.orderButtonLtr
{
	float:right;
	width:10%;
}

.mainInfoTextLtr
{
	float:left;
	width:60%;
}


.ListInfoCenterLtr
{	
	text-align:left;
	direction:ltr;
	padding:5px;
	float:left;
	padding-left:20px;
	width:60%;
}

.orderButtonLtr
{
	float:right;
	width:30%;
	margin-top:5px;
	margin-left:20px;
}


.imageReviewLtr
{
	float:left;
	width:20%;
	padding-right:20px;
}



.infoReviewLtr
{
	width:73%;
	float:right;
	text-align:left
}


.delAppLtr
{
	float:left;
	width:28%;
	margin-top:0px;

}
	
.editAppLtr
{
	float:left;
	width:28%;
	margin-left:10px;
}

.mainDetailsNameLtr
{
	text-align:left;
}

.mainDetailsPhoneLtr
{
	text-align:left;
}

.mainDetailsPassLtr
{
	text-align:left;
}


.InputTextLineLtr
{
	text-align:left;
}










/*
.SearchTable
{
	direction:ltr;
	padding:5px;
	text-align:center;
	font-size:16px;
}

.ListRight
{
	width:27%;
	padding:10px;
	float:left;
}


.ListLeft
{
	width:10%;
	padding-left:20px;
	margin-right:10px;
	float:right;
	margin-top:30px;
}

.ListCenter
{
	text-align:left;
	direction:ltr;
	padding:5px;
	float:left;
}

.Raiting
{
	float:left;
	margin-top:35px;
}

.RaitingIcon
{
	float:left; 
	margin-left:14px; 
	margin-top:5px;
}


/* Details Page */
/*
.mainInfo
{
	text-align:left;
	direction:ltr;
	padding:10px;
	padding-left:20px;
	overflow:hidden;
}

.orderButton
{
	float:right;
	width:10%;
}

.mainInfoText
{
	float:left;
	width:60%;
}


.ListInfoCenter
{	
	text-align:left;
	direction:ltr;
	padding:5px;
	float:left;
	padding-left:20px;
	width:60%;
}

.orderButton
{
	float:right;
	width:30%;
	margin-top:5px;
	margin-left:20px;
}


.imageReview
{
	float:left;
	width:20%;
	padding-right:20px;
}



.infoReview
{
	width:73%;
	float:right;
	text-align:left
}


/* supplier main */
/*
.supplierMainInfo
{
	text-align:left;
}

.LanText
{
	direction:ltr; 
	text-align:left;
}


.supplierInfo
{
	float:right;
	text-align:right;
}


.supplierInfoImg
{
	float:left
}

.supplierInfoBooked
{
	float:left
}

#torDate
{
	text-align:right !important;
}

#torName
{
	text-align:right !important;
}






























































