<ion-view hide-back-button="false" hide-nav-bar="false">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>

  <ion-content class="content">
    <ion-list>
	
	
       <div ng-repeat="Deal in Coupons">
	   
			<div ui-sref="app.coupondetails({ItemId: $index})">
				<div class="dealDiv">
					<img ng-src="{{host}}/{{Deal.image}}" style="width:100%; position:relative; top:0; left:0; z-index:0;"  />
					<div id="percent">
					<!--	<div id="percentImg">
						
						{{checkPercent(deal)}}
						{{Deal.discount_precent}}
						
							<p id="percentText">&nbsp;{{checkPercent(Deal)}}% <br>הנחה</p>
							<img src="img/percent.png" />
						</div>-->
					</div>
					<div id="overlayImage">
						<div id="overImg"></div>
						<div id="overlayRight">
							<p id="dealInfo1">{{Deal.header | stripslashes:true}} </p>
							<div id="dealInfo3" style="font-size:18px;">
								 <span id="newPrice">{{Deal.old_price}}</span> <span id="oldPrice">{{Deal.price}} &#8362;</span>
							</div>
						</div>
						
						<div id="overlayLeft" style="">
							<img src="img/date1.png" style="height:70px; margin-top:5px; float:left; margin-left:20px;" />
							<div id="dateText">
								<p id="dateText1">{{cutDate(Deal.deal_date)}}</p>
								<p id="dateText2">{{cutYear(Deal.deal_date)}}</p>
							</div>
						<div>
					</div>
				</div>
			 
			 </div>
	 </div>
	<!-- </div>-->
 </div>

		 

       </div>
    </ion-list>
  </ion-content>
</ion-view>
