<ion-modal-view>
  <ion-header-bar style="background:#DC5353;">
    <h1 class="title"> <img class="title-image" src="img/head_logo.png" /></h1>
    <div class="buttons" >
      <button class="button button-clear" style="color:#fff; font-weight:bold;" ng-click="closeVideoModal()">{{'modal_close' | translate}}</button>
    </div>
  </ion-header-bar>
  <ion-content style="background-color:#fff9f1">
  
      <div class="searchInput" align="center">
      		 <div class="searchInputDiv">

                    <div >
						<div id="videoWrapper" class="videoWrapper">
							
							<iframe id="VideoPlayer" width="560" height="349" src="https://www.youtube.com/embed/5UWqQ_XprDk?showinfo=0&rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>

							
						<!--
							  <video id="VideoPlayer" controls="controls" preload="metadata" autoplay="autoplay" width="500" webkit-playsinline="webkit-playsinline" class="videoPlayer">
								<source  src="img/video.mp4" type="video/mp4"/>
							  </video>			
						-->
						</div>						
                    </div>

             </div>
      </div>  
  
  

  </ion-content>
</ion-modal-view>
