<div class="stars">
	<div class="star"><img ng-click="starClick(1)" ng-src="{{RateArray.rate1}}"  width="100%" alt="" /></div>
	<div class="star"><img ng-click="starClick(2)" ng-src="{{RateArray.rate2}}"  width="100%" alt="" /></div>
	<div class="star"><img ng-click="starClick(3)" ng-src="{{RateArray.rate3}}"  width="100%" alt="" /></div>
	<div class="star"><img ng-click="starClick(4)" ng-src="{{RateArray.rate4}}"  width="100%" alt="" /></div>
	<div class="star"><img ng-click="starClick(5)" ng-src="{{RateArray.rate5}}"  width="100%" alt="" /></div>
</div>   

