<ion-view view-title="MAMI" cache-view="false">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    
   
    <ion-content class="content" style="background-color:white">
        <div class="mainPageVideo" align="center">
          <div class="searchInput" align="center" >
                 <div class="searchInputDiv" style="margin-bottom:30px;">
    
                        <div style="direction:rtl;">
    
                             <div class="qDiv">
                                 <label class="item item-input  itemSelectedQ" >
                                    <input type="text"   placeholder="{{'supplierlogin_username' | translate}}" class="ion-input-select--large itemSelectedBoxQ" ng-model="supplier.username">
                                 </label>
                                 <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                             </div>
				 
                        </div>
                        
                        
                        <div style="margin-top:10px; margin-bottom:30px;" ng-click="sendSupplierPass()">
                      	<img src="img/{{'sendbuttonimage' | translate}}"  style="width:100%;" />
                        </div>	
                        
                        
                 </div>
          </div>		
		</div>




	
  </ion-content>
</ion-view>
