<ion-view view-title="MAMI">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
	

	
    <ion-content class="" style="background-color:#fff9f1">
		<div>
        	<img  src="img/line.png" style="width:100%; margin-top:-3px;" />
        </div>
        <!-- NG - Repeat -->
        <div class="ListRow" ng-repeat="item in Sapakim" ui-sref="app.details({CatIndex:ItemId,IndexArray:$index,ItemIndex:item.index})">
            <div class="ListRight">
				<img  ng-src="{{host}}/{{item.image}}" style="width:100%; margin-top:-3px;"  />
            </div>
			
            <div class="ListCenter" >
            	<h3>{{item.name}}</h3>
                <h4>{{'listmain_address' | translate}} : {{item.address}}</h4>
                <h4>{{'listmain_phone' | translate}} : {{item.phone}}</h4>
				<!--
				<h4>{{'listmain_cat' | translate}} : 
				<span ng-repeat="catagory in item.catagory" ng-if="currentLanguage == 'he'"><span ng-if="$index !=0">,</span> {{catagory.name}}  </span>
				<span ng-repeat="catagory in item.catagory" ng-if="currentLanguage == 'en'"><span ng-if="$index !=0">,</span> {{catagory.name_english}}  </span>
				<span ng-repeat="catagory in item.catagory" ng-if="currentLanguage == 'ar'"><span ng-if="$index !=0">,</span> {{catagory.name_arabic}}  </span>
				<span ng-repeat="catagory in item.catagory" ng-if="currentLanguage == 'ru'"><span ng-if="$index !=0">,</span> {{catagory.name_russian}}  </span>
				</h4>
				-->
				
				<!--
                <h4>אזור : {{getAreaName(item.area)}}</h4>
				<h4 ng-if="item.subcategories[0].showprice == '0'">מחיר : {{item.subcategories[0].price}} ש"ח</h4>
				-->
                <div ng-if="item.rating && item.rating > 0" >
				<div style="float:right; margin-top:5px;">
                	{{'listmain_derug' | translate}} : {{item.rating}} 
				</div>
                	<table style="float:right; margin-right:14px; margin-top:5px;">	
                    	<tr style="">
                        	<td  ng-repeat="n in [] | range:item.rating">
                            	<img  src="img/s1.png" style="width:30px; margin-top:-3px; margin-left:3px;" />
                            </td>
							<td ng-if="getFloat(item.rating)">
							<img  src="img/s3.png" style="width:100%; margin-top:-3px;" />
							</td>
                        </tr>
                    </table>
                </div>
            </div>

			
            <div class="ListLeft">
            	<img  src="img/arrow.png" style="width:100%; " />
            </div>
            <div>
        		<img  src="img/line.png" style="width:100%; margin-top:-3px;" />
        	</div>
    	</div>
        
        

    </ion-content>
</ion-view>
