<ion-view view-title="MAMI">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
  <ion-content >
	  <div class="mamiBanner">
      	<img src="img/mami_banner.jpg" style="width:100%;" />
      </div>
      <div class="searchInput" align="center">
      		 <div class="searchInputDiv">

					<p style="margin-top:-20px; font-size:18px; color:red; direction:rtl;">{{'searchappoint_searchat' | translate}} {{SupplierName}}</p>
                    <div class="searchLine">
                    </div>
                    <div>
                         <label class="item item-input item-select itemSelectedQ" style="margin-top:10px;">
                            <div class="input-label itemSelectedLabelQ">
                              {{'searchappoint_subcat' | translate}}
                            </div>
                            <select ng-class="lanDirction == 'rtl' ? 'itemSelectedBoxQ' : 'itemSelectedBoxQLtr'" ng-model="appt.subcat">
								<!--<option value="0" selected>בחר/י קטגוריה</option> -->
                                <option ng-selected="{{appt.subcat == item.subindex}}" value="{{item.subindex}}"  ng-repeat="item in newSubCat" ng-if="currentLanguage == 'he'">{{item.subname}} </option>
                                <option ng-selected="{{appt.subcat == item.subindex}}" value="{{item.subindex}}"  ng-repeat="item in newSubCat" ng-if="currentLanguage == 'en'">{{item.subname_english}} </option>
                                <option ng-selected="{{appt.subcat == item.subindex}}" value="{{item.subindex}}"  ng-repeat="item in newSubCat" ng-if="currentLanguage == 'ar'">{{item.subname_arabic}} </option>
                                <option ng-selected="{{appt.subcat == item.subindex}}" value="{{item.subindex}}"  ng-repeat="item in newSubCat" ng-if="currentLanguage == 'ru'">{{item.subname_russian}} </option>
							    
                            </select>
                         </label>
                         
                         
                         <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                         <!--
						 <label class="item item-input item-select itemSelectedQ" style="margin-top:0px;">
							<input type="text" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="{{'searchappoint_date' | translate}}" style="text-align:right !important; margin-right:25px !important;" ng-class="lanDirction == 'rtl' ? 'itemSelectedBoxQ' : 'itemSelectedBoxQLtr'" ng-model="appt.day">
                         </label>
						 -->
                         <label class="item item-input item-select itemSelectedQ" style="margin-top:0px;" ng-click="pickDate()">
							<div   style="height:35px; text-align:center !important; width:100%;" ng-class="lanDirction == 'rtl' ? 'itemSelectedBoxQ' : 'itemSelectedBoxQLtr'"  >
								<div style="text-align:center !important; width:100%; " ng-if="!appt.day">{{'searchappoint_date' | translate}}</div>
								<div style="text-align:center !important; width:100%; " ng-if="appt.day">{{appt.day}}</div>
								
							</div>							
                         </label>

						 
						 
                         <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                         <label class="item item-input item-select itemSelectedQ" style="margin-top:0px;" ng-click="pickTime()">
							<div   style="height:35px; text-align:center !important; width:100%;" ng-class="lanDirction == 'rtl' ? 'itemSelectedBoxQ' : 'itemSelectedBoxQLtr'"  >
								<div style="text-align:center !important; width:100%; " ng-if="!appt.time">{{'selecttimectrl' | translate}}</div>
								<div style="text-align:center !important; width:100%; " ng-if="appt.time">{{appt.time}}</div>
								
							</div>							
                         </label>						 

                         <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                    </div>
                    <div style="margin-top:30px;" ng-click="searchAppoint()">
      					<img src="img/{{'searchbuttonimage3' | translate}}"  style="width:100%;" />
      				</div>	
             </div>
      </div>
	  
        <!-- NG - Repeat -->
		<!--
		ui-sref="app.details({CatIndex:ItemId,IndexArray:$index})"
		-->
		

        <div align="center" ng-class="lanDirction == 'rtl' ? 'ListCenter' : 'ListCenterLtr'" ng-if="isFutureMessage == 1" style="font-size:15px;">{{'next_appointment' | translate}}</div>

		<div class="ListRow"  ng-if="Appoinments != 0" ng-repeat="item in Appoinments" ng-click="saveAppoint(item)">
            <div ng-class="lanDirction == 'rtl' ? 'ListRight' : 'ListRightLtr'">
                <img  ng-src="{{host}}/{{SupplierImage}}" style="width:100%; margin-top:-3px;" />
            </div>
            <div ng-class="lanDirction == 'rtl' ? 'ListCenter' : 'ListCenterLtr'" >
            	<h3>{{item.name}}</h3>
                <h4 style="font-size:16px !important; margin-top:-10px;">{{'searchappoint_day' | translate}} {{DayName}} {{item.start_date}}</h4>
                <h4 style="font-size:16px !important; margin-top:-10px;">{{'searchappoint_hour' | translate}} : {{item.start_time}}</h4>
                <h4 style="font-size:16px !important; margin-top:-10px;">{{'searchappoint_price' | translate}} : {{AppointPrice}} {{'searchappoint_nis' | translate}}</h4>
                <div ng-if="item.rating > 0">
                    <div style="float:right; margin-top:5px;">
                        {{'searchappoint_derug' | translate}} : {{item.rating}} 
                    </div>
                        <table style="float:right; margin-right:14px; margin-top:5px;">	
                            <tr style="">
                                <td  ng-repeat="n in [] | range:item.rating">
                                    <img  src="img/s1.png" style="width:30px; margin-top:-3px; margin-left:3px;" />
                                </td>
                                <td ng-if="getFloat(item.rating)">
                                <img  src="img/s3.png" style="width:100%; margin-top:-3px;" />
                                </td>
                            </tr>
                        </table>
                </div>				
            </div>
			


			
             <div ng-class="lanDirction == 'rtl' ? 'ListLeft' : 'ListLeftLtr'"   ng-if="lanDirction == 'rtl'">
            	<img  src="img/arrow.png" style="width:100%; " />
            </div>
             <div ng-class="lanDirction == 'rtl' ? 'ListLeft' : 'ListLeftLtr'"  ng-if="lanDirction == 'ltr'">
            	<img  src="img/arrowr.png" style="width:100%; " />
            </div>
    	</div>
        <div>
        	<img  src="img/line.png" style="width:100%; margin-top:-3px;" />
        </div>	  
  </ion-content>
</ion-view>
