<ion-view view-title="MAMI" >
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    <ion-content style="background-color:#fff9f1">
		<div>
  			<ion-slide-box  ng-if="GalleryCount > 0 ">
                  <ion-slide ng-repeat="item in Gallery">
                     <img ng-src="{{host}}/{{item.image}}"  style="width:100%" />
                  </ion-slide>
            </ion-slide-box>
          
            <div ng-if="GalleryCount == 0">
            	<img  src="img/image_logo.png" style="width:100%" />
            </div>
        </div>
        <table style="margin-top:-5px;">
        	<tr>
            	<td>
                	<img  src="img/main_icons/i1.jpg" ng-click="CommentModal(2)" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/main_icons/i2.jpg" ng-click="checkRate(3)" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/main_icons/i3.jpg" ng-click="Video()"  style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/main_icons/i4.jpg" ng-click="Waze()"  style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/main_icons/i5.jpg" ng-click="dialPhone()"  style="width:100%; margin-top:-3px;" />
                </td>
            </tr>
        </table>
        <div ng-class="lanDirction == 'rtl' ? 'mainInfo' : 'mainInfoLtr'"  >
        	<div ng-class="lanDirction == 'rtl' ? 'mainInfoText' : 'mainInfoTextLtr'" >
               <h3>{{Sapak.name}}</h3>
                <h3 style="font-size:14px !important;"> {{Sapak.address}}</h3>
                <h3 style="font-size:14px !important;">{{'details_phone' | translate}}: {{Sapak.phone}}</h3>
                <h3 style="font-size:14px !important;">{{'search_subcat' | translate}}: 

				<span ng-repeat="item in Sapak.catagory" ng-if="currentLanguage == 'he'"><span ng-if="$index !=0">,</span> {{item.name}}  </span>
				<span ng-repeat="item in Sapak.catagory" ng-if="currentLanguage == 'en'"><span ng-if="$index !=0">,</span> {{item.name_english}}  </span>
				<span ng-repeat="item in Sapak.catagory" ng-if="currentLanguage == 'ar'"><span ng-if="$index !=0">,</span> {{item.name_arabic}}  </span>
				<span ng-repeat="item in Sapak.catagory" ng-if="currentLanguage == 'ru'"><span ng-if="$index !=0">,</span> {{item.name_russian}}  </span>
				</h3>

            </div>
            <div ng-class="lanDirction == 'rtl' ? 'orderButton' : 'orderButtonLtr'"  ng-if="Type == '1'" ng-click="SearchAppoint(5)"> 
            	<img  src="img/{{'searchtorimage' | translate}}" style="width:100%; margin-top:-3px;" />
            </div>
       </div>
            
			
       <div ng-class="lanDirction == 'rtl' ? 'mainInfo' : 'mainInfoLtr'">
                <h4 ng-bind-html="SapakDesc" style="width:100%;"></h4>
      </div>
            
        <div ng-class="lanDirction == 'rtl' ? 'mainDetails' : 'mainDetailsLtr'" >
         <div ng-class="lanDirction == 'rtl' ? 'ListInfoCenter' : 'ListInfoCenterLtr'"  ng-if="Type == '0' && ShowOrderButton">
            	<h3 style="margin-top:5px;">{{Sapak.name}}</h3>
                <h4 ng-if="currentLanguage == 'he'">{{SelectedSubCategory.name}}</h4>
                <h4 ng-if="currentLanguage == 'en'">{{SelectedSubCategory.name_english}}</h4>
                <h4 ng-if="currentLanguage == 'ar'">{{SelectedSubCategory.name_arabic}}</h4>
                <h4 ng-if="currentLanguage == 'ru'">{{SelectedSubCategory.name_russian}}</h4>

				
                <h4>{{'details_day' | translate}} {{DayName}} {{Appoinement.start_date}}</h4>
                <h4>{{'details_hour' | translate}} : {{Appoinement.start_time}}</h4>
                <h4>{{'details_price' | translate}} : {{SupplierData.price}} {{'details_nis' | translate}}</h4>
				<!-- <p>{{SupplierData.rating}}</p> -->
                <div ng-if="SupplierData.rating">
				<div ng-class="lanDirction == 'rtl' ? 'Raiting' : 'RaitingLtr'">
				<div style="margin-top:10px;">{{'details_derug' | translate}} : {{SupplierData.rating}} </div>
				</div>
                	<table ng-class="lanDirction == 'rtl' ? 'RaitingIcon' : 'RaitingIconLtr'"  style="width:30%">	
                    	<tr style="">
                        	<td  ng-repeat="n in [] | range:SupplierData.rating">
                            	<img  src="img/s1.png" style="width:30px; margin-top:-3px; margin-left:3px;" />
                            </td>
							<td ng-if="getFloat(SupplierData.rating)">
							<img  src="img/s3.png" style="width:100%; margin-top:-3px;" />
							</td>
                        </tr>
                    </table>
                </div>
            </div>


            <div ng-class="lanDirction == 'rtl' ? 'orderButton' : 'orderButtonLtr'" ng-if="Type == '0' && ShowOrderButton" ng-click="OrderAppoint(4)"> 
            	<img  src="img/{{'ordertorimage' | translate}}" style="width:100%; margin-top:-3px;" />
            </div>
 
           

           
            </div>
			
            <div style="width:100%" align="right" ng-if="Comments.length > 0">
            	<div style="width:40%">
            		<img style="width:100%" src="img/{{'reviewtextimage' | translate}}" />
                </div>
            </div>
			<div class="Comments" ng-repeat="item in Comments" align="right" style="direction:rtl;">
            	<div class="imageReview">
                	<img src="img/review_image.jpg" style="width:100%" />
                </div>
                <div class="lineReview">
                </div>
                <div class="infoReview">
                	<p>{{item.name}}</p>
					<p style="margin-top:-10px">{{item.text}}</p>
					<p style="margin-top:-10px">{{item.date}}</p>
                </div>
            </div>
			<!-- <p>{{item.name}}</p>
			<p>{{item.text}}</p>
			<p>{{item.date}}</p> -->
			</div>


            <div class="searchLine">
            </div>
            <div class="mainPageVideo" align="center" ng-repeat="item in Banners">
                <div class="mainPageVideoInsideDiv">
                    <img src="{{host}}/{{item.image}}" style="width:100%" />
                </div>
        	</div>


    </ion-content>

          <script id="video-modal.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						  <div class="searchInput" align="center">
								 <div class="searchInputDiv">
										<div >
											<div id="videoWrapper" class="videoWrapper" style="margin-top:200px;">
												<iframe id="VideoPlayer" width="560" height="349" src="{{VideoLink}}" frameborder="0" allowfullscreen></iframe>
											</div>						
										</div>
								 </div>
						  </div>  
  
					</div>
          </script>



</ion-view>
