<ion-view view-title="MAMI" cache-view="false">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    <ion-content class="content">
        <div class="mainPageVideo" align="center">
            <div class="supplierMainList">
                <div class="item item-thumbnail-left" style="padding:10px; padding-bottom:40px;" >
                  <img ng-src="{{host}}/{{SupplierDetails.image}}" style="border:2px solid #666">
                  <h2 style="direction:rtl; text-align:right;">{{SupplierDetails.name}}</h2>
                  <p style="direction:rtl; text-align:right;">{{'suppliermain_address' | translate}} : {{SupplierDetails.address}}</p>
                  <p style="direction:rtl; text-align:right;">{{'suppliermain_phone' | translate}} : {{SupplierDetails.phone}}</p>
                </div>
            </div>			
            <div style="margin-top:20px;">
                <div ui-sref="app.supplierappoint()">
                    <img src="img/{{'addtorimage' | translate}}" style="width:100%"  />
                </div>
				<!--
                <div ui-sref="app.orderedappoinment()">
                    <img src="img/invite_tor.png" style="width:100%"  />
                </div>
				-->
                <div ui-sref="app.supplierpersonal()">
                    <img src="img/{{'issuedetails' | translate}}" style="width:100%"  />
                </div>	
                <div ng-click="SupplierLogout()" style="margin-top:7px;">
                    <img src="img/{{'logout' | translate}}" style="width:100%"  />
                </div>
            </div>
		</div>
  </ion-content>
</ion-view>
