.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button.active {
	background:#3399FF;
}

.title-image
{
	width:80px;
	position:relative;
	margin-top:2px;
	z-index:100;
}

.content
{
	background-color:#e4e9ea;
}

.bar-header 
{
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
	
	 -moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}



/* Main Page */

.mainSearchBoxDiv
{
	width:100%;
}
.mainSearchBox
{
	overflow:hidden;
	width:95%;
}

.mainSearchBoxRight
{
	width:91%;
	float:right;
}

.mainSearchBoxRight div
{
	width:100%;
	margin-top:20px;
}

.mainSearchBoxRight div input
{
	text-align:right;
	padding-right:10px;
	padding-top:-23px;
}

.mainSearchBoxLeft
{
	width:8.5%;
	float:right;
}

.mainSearchBoxLeft div
{
	width:100%;
	margin-top:20px;
}


.mainPageVideo
{
	width:100%;
}

.mainPageVideoInsideDiv
{
	width:95%;
	margin-top:10px;
}


.iconsTable
{
	margin-top:20px;
	padding:0px;
	margin:0px;
	position:relative;
	height:100px;
	overflow:hidden;
}

.tableTD
{
	padding:0px;
	margin:0px;
	height:100px;
	overflow:hidden;
}

/* Search Page */

.mamiBanner
{
	
}

.searchInput
{
	width:100%;
	margin-top:20px;
}


.searchInputDiv
{
	width:90%;
}

.itemSelected
{
	background-color:#ee2375 !important
}


.itemSelectedQ
{
	background-color:#f1f1f1 !important;
	border:none;
}

.itemSelectedLabel
{
	color:#ef2275 !important;
}

.itemSelectedLabelQ
{
	color:#f1f1f1 !important;
}

.itemSelectedBox
{
	color:white !important; 
	background-color:#ef2275 !important;
}

.itemSelectedBoxQ
{
	color:white !important; 
	background-color:#ef2275 !important;
}


.itemSelectedBoxQ
{
	color:#333 !important; 
	background-color:#f1f1f1 !important;
	border:none;
}


.Searchbutton
{
	background-color:#e0e0e0 !important;
	color:#666;
}

.SearchbuttonActive
{
	background-color:#ef2275 !important;
	color:white !important;		
}

.searchLine
{
	background-color:#CCC;
	margin-top:15px;
	margin-bottom:15px;
	width:100%;
	height:1px;
}


/* List Page*/

.SearchTable
{
	direction:rtl;
	padding:5px;
	text-align:center;
	font-size:16px;
}

.SearchTable td
{
	padding:10px;
	padding-top:7px;
}

.TDsearch
{
	margin-left:10px;
	color:#555555;
	font-weight:bold;
}

.TDtype
{
	color:#a9a9a9;
}

.TDtypeActive
{
	background-color:#ef2275;
	color:white;
	border-radius:3px;
}


.ListRow
{
	overflow:hidden;
	width:100%;
}

.ListRight
{
	width:27%;
	padding:10px;
	float:right;
}

.ListRight img
{
	border:4px solid #d5d6d5
}

.ListLeft
{
	width:10%;
	padding-left:20px;
	float:left;
	margin-top:30px;
}

.ListCenter
{
	text-align:right;
	direction:rtl;
	padding:5px;
	float:right;
}

.ListCenter h3
{
	font-size:16px;
	color:#ef2275;
	font-weight:bold;
}

.ListCenter h4
{
	margin-top:-8px;
	font-size:14px;
	color:#ef2275;
}

.ListCenter div
{
	margin-top:-8px;
}

.mainInfo
{
	text-align:right;
	direction:rtl;
	padding:10px;
	padding-left:0px;
	overflow:hidden;
}

.orderButton
{
	float:left;
	width:10%;
}

.mainInfoText
{
	float:right;
	width:60%;
}

.mainInfo h3
{
	font-size:16px;
	font-weight:bold;
	color:#ef2275;
}

.mainInfo h4
{
	font-size:14px;
	color:#ef2275;
	line-height:1.4;
}

.mainDetails
{
	width:100%;
	overflow:hidden;
}

.ListInfoCenter
{	
	text-align:right;
	direction:rtl;
	padding:5px;
	float:right;
	padding-right:20px;
	width:60%;
}

.ListInfoCenter h3
{
	font-size:16px;
	color:#ef2275;
	font-weight:bold;
}

.ListInfoCenter h4
{
	margin-top:-8px;
	font-size:14px;
	color:#ef2275;
}

.ListInfoCenter div
{
	margin-top:-8px;
	color:#ef2275;
}

.orderButton
{
	float:left;
	width:30%;
	margin-top:5px;
	margin-left:20px;
}

.loading {
	direction:rtl;
}

.popup-title {
	direction:rtl;
}


.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .1;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: .1;
  }
}
.custom-popup.popup-container .popup {
  width:90%;
}


/* Deals Page */

.fullImage
{
	width:100%;
	padding:0px;
	margin:0px;
}

.cardTitle
{
	text-align:right;
	direction:rtl;
	font-size:13px !important;
	color:#999 !important;
	margin-top:2px !important;
}

.cardDesc
{
	text-align:right;
	direction:rtl;
}


.cardPrice
{
	text-align:left;
	font-size:17px;
	margin-right:10px;
	color:#CCC;
	margin-top:-7px;
	width:100%;
	direction:rtl;
}

#newPrice
{
	text-decoration:line-through;
}
#oldPrice
{
	color:#d6a82a;
	font-weight:bold;
}

.cardLine
{
	background-color:#CCC;
	width:100%;
	height:0.8px;
	margin-top:3px;
	margin-bottom:-13px;
}

.cardIcons
{
	text-align:left;
	direction:rtl;
	margin-bottom:-10px !important;
	padding-bottom:0px !important;
	margin-top:-10px;
}

.DealMainImage
{
	width:100%;
	background-color:white;
	 -moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}

.DealMainInfo
{
	width:100%;
	background-color:white;
	text-align:right;
	direction:rtl;
	padding:15px;
	 -moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}

/* Deal Page */

.DealPageTitle
{
	text-align:right; 
	padding:15px;
	direction:rtl;
}

.DelaInfo
{
	text-align:right;
	direction:rtl;
	padding-top:8px !important;
	padding-bottom:8px;
}


/* tabs */

	.tabsDiv
	{
		overflow:hidden;
		width:100%;
		margin-top:0px;
		position:relative;
		padding:10px;
	}
	
	.tabsActive
	{
		float:right;
		width:50%;
		font-size:16px;
		color:#333;
		text-align:center;
		padding:10px;
		border-bottom:1px solid #900;
	}
	
	.tabsActive33
	{
		float:right;
		width:33%;
		font-size:16px;
		color:#333;
		text-align:center;
		padding:10px;
		border-bottom:1px solid #900;
	}
	
	.tabsNotActive
	{
		float:right;
		width:50%;
		font-size:16px;
		color:#CCC;
		border-bottom:1px solid #CCC;
		text-align:center;
		padding:10px;
	}
	
	.tabsNotActive33
	{
		float:right;
		width:33%;
		font-size:16px;
		color:#CCC;
		border-bottom:1px solid #CCC;
		text-align:center;
		padding:10px;
	}
	
     /*FEEDBACK PAGE*/
     .questions
    {         
        float:right;
        padding-top:6%;   
		direction:rtl; 
		text-align:right;     
     }
    .question
    {
        float:right;
        padding:1% 5% 0% 5%;
        width:90%;
    }
    .question span
    {
        font-size:18px;
        font-weight:bold;        
    }
    .stars
    {
         padding-right:8%;
    }
    .star
    {
        float:right;
         width:14%;
         padding:2% 0 1% 2%;
    }
    .starLine
    {
        border-top: dotted #3282c7;
        float:right;
        margin:10px 21px 10px 0px;
        width:84%;
    }
    .openQuestion
    {
        float:left;
        padding:6% 2% 0% 2%;
		margin-right:1%;
        width:100%;
		direction:rtl;   
    }
    #openQuestion
    {
        width:90%;
        height:130px;
        border: solid #00ac36;
        color:#4c4c4c;
        padding-right:10px;
		margin:10px 11px 10px 0px;
        padding-top:6px;
        font-size:15px;
        text-align:right;
        font-family:Arial;
    }
    #send
    {
        color:White;
        background-color:#00ac36;
        width:90%;
        padding:10px 0px 10px 0px;
        font-size:20px;
        margin:10px 11px 10px 0px;
		
        border:none;
        font-weight:bold;
    }
	
	.employeQuestion
	{
		text-align:center;
		direction:rtl;
		background-color:#f1f1f1;
		margin:0px;
		padding:10px;
		padding-left:20px;
	}
	
	.employeQuestion div
	{
		margin-bottom:-10px;
	}
	
	.employeQuestion h3
	{
		font-weight:bold;
		color:#ee2375;
		font-size:19px;
	}
	.employeQuestion p
	{
		margin-top:-7px;
		color:#ee2375;
		width:80%;
		text-align:center;
	}
	
	
	.qDiv
	{
		margin-top:-3px;
	}
    
	/* Details Page*/
	.imageDetails
	{
		width:100%;
		overflow:hidden;
	}
	
	.thumbDetails
	{
		width:35%;
		height:80px;
		float:left;
	}
	
	.uploadDetails
	{
		width:65%;
		float:right;
	}
	
	/*appointments page*/
	
	.DelEditAppointment
	{
		width:100%;
		overflow:hidden;
	}
	
	.delApp
	{
		float:right;
		width:28%;
		margin-top:20px;
	}
	
	.editApp
	{
		float:right;
		width:28%;
		margin-right:10px;
	}


	
/* Deal Page */

.dealDiv
{
	position:relative; 
	left:0; 
	top: 0;
	margin-top:15px;
}

#imgDeal
{
	
}


#percent
{
	width:100%;
	position:absolute;
	top:0px;
	overflow:hidden;
}

#percentImg
{
	position:relative;
	right:10px;
	float:right;
}

#percentImg img
{
	width:75%;
}

#percentText
{
	position:absolute;
	text-align:center;
	left:10%;
	padding-top:10px;
	line-height:0.8;
	font-weight:bold;
	font-size:28px;
	color:white;
}

#overlayRight
{
	float:right;
	width:70%;
}

#overlayLeft
{
	float:left;
	width:30%;
	z-index:100;
	position:relative;
	top:0px;
	left:0px;
	overflow:hidden;
}

#overlayImage
{
	width:100%;
	height:80px;
	position:absolute;
	bottom:5px;
	overflow:hidden;
	z-index:100;
}

#overImg
{
	width:100%;
	background-color:black;
	height:80px;
	opacity:0.4;
	position:absolute;
	bottom:0px;
	overflow:hidden;
	z-index:-1;
}

#dateImg
{
	position:relative;
	left:30px;
	top:0px;
	padding-top:7px;
	float:left;
	height:70px;
	width:30px;
}

#dateText
{
	height:70px; 
	margin-top:5px; 
	float:left; 
	margin-left:20px; 
	position:absolute
}

#dateText1
{
	margin-top:23px;
	font-size:20px;
	font-weight:bold;
	margin-left:7px;
	color:white;
}

#dateText2
{
	margin-top:-10px;
	font-size:14px;
	font-weight:bold;
	margin-left:6px;
	color:white;
	text-align:center;
}

#dateText3
{
	margin-top:-10px;
	font-size:14px;
	font-weight:bold;
	margin-left:-20px;
}

#dealInfo1
{
	text-align:right;
	font-size:16px;
	font-weight:bold;
	direction:rtl;
	margin-right:10px;
	color:white;
	margin-top:7px;
}

#dealInfo2
{
	text-align:right;
	font-size:14px;
	font-weight:bold;
	margin-right:10px;
	color:white;
	margin-top:-7px;
}

#dealInfo3
{
	text-align:right;
	font-size:16px;
	margin-right:10px;
	color:white;
	margin-top:-7px;
	direction:rtl;
}

#newPrice
{
	text-decoration:line-through;
	color:#d6a82a
	
}
#oldPrice
{
	color:#D6D6D6;
}

#oldPrice1
{
	color:#22aab0;
	font-weight:bold;
}

.lineDeals
{
	height:1px;
	margin:5px 0 5px 0;
	width:100%;
	background-color:#e6e5e5;
}	

.stars
{
	 padding-right:8%;
}
.star
{
	float:right;
	 width:14%;
	 padding:2% 0 1% 2%;
}



.Comments
{
	width:100%;
	overflow:hidden;
	margin-top:20px;
}

.imageReview
{
	float:right;
	width:20%;
	margin-left:20px;
}

.imageReview img
{
	border-left:8px solid red;
	margin-left:20px;
}

.lineReview
{

}

.infoReview
{
	width:67%;
	float:right;
}



.itemBooked
{
	background-color:#FF5A8C; /*#ee2375*/;
}


.itemNotBooked
{
	background-color:#fef8fa; /*#28a918*/;
}

#torTime
{
	font-size:35px; 
	font-weight:bold;
	color:#343235;
	direction:rtl; 
	text-align:right;
	margin-bottom:10px;
	margin-top:15px;
}

#torDate
{
	direction:rtl;
	text-align:right; 
	font-size:18px; 
	color:#343235;
}

#torName
{
	direction:rtl;
	text-align:right; 
	font-size:18px;
	padding:4px;
	color:#343235;
}

.daysButton
{
	margin-left:2px;
	border-radius:6px;
	padding:0px 15px 0px 15px !important;
	height:0px !important;
}


#dayStatus
{
	width:104%;
	margin-left:-2%; 
	margin-top:10px;
	position:relative;  
	background-image:url(../img/menu/pubsline.jpg); 
	background-repeat:repeat;
	background-color:#333;
	color:#343235;
}

#dayStatus p
{
	color:#343235; 
	width:100%;  
	text-align:center; 
	margin:0; 
	padding:1.5% 0 1% 0%;
}

.wide-as-needed 
{
  	direction:ltr; 
    overflow:auto; 
  	white-space: nowrap;
}
	
.scroll 
{ 
	direction:ltr; 
  	min-width: 100%;
}

.menuButtons
{
	overflow:hidden;
	width:100%;
	margin-top:20px;
}

.menuButton
{
	float:left;
	width:22%;
	padding:3px;
	padding-top:2.5px;
	padding-bottom:0px;
}































